@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;

  color: black;
  --highlight-color: #e21818;
  --headline-color: #00235b;
  --sub-head-color: #023586;
  --secondary-color: #ffdd83;
  --tertiary-color: #cbe7e3;
  --timer_stop: #ef4565;
  --timer_start: #004643;
  --grey-color: #e5e5e5;

  --title_height: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--tertiary-color);
  height: var(--title_height);
}

aside {
  height: var(--title_height);
}

h1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  margin: 0.2rem 0;
  /* color: var(--headline-color); */
  color: black;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--sub-head-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

form {
  display: inline-block;
}

input[type="text"],
input[type="password"] {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--grey-color);
  border-radius: 8px;
  appearance: none;
  outline: none;
  box-shadow: none;
  width: 50ch;
}
input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active {
  border: 1px solid var(--highlight-color);
}

/* ========  */

a,
input[type="submit"] {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  color: var(--headline-color);
  padding: 0 1ch 0 0;
}
a:hover,
input[type="submit"]:hover {
  color: var(--highlight-color);
}

a.lg,
input[type="submit"].lg {
  font-size: 1.3rem;
}
.sm,
a.sm,
input[type="submit"].sm {
  font-size: 0.8rem;
}
.sm {
  margin-top: 0.2rem;
  font-weight: 300;
}

.attn {
  font-weight: 700;
  color: var(--highlight-color);
  text-align: center;
  margin-top: 0.2rem;
  width: 4.4ch;
}
a.attn:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

/* ========  */

.flash_message,
.flash_error {
  padding: 0.5rem 2ch;
  text-align: center;
  height: var(--title_height);
  /* margin: 1rem 0; */
}

.flash_error {
  background-color: var(--secondary-color);
}

.flash_message {
  background-color: var(--tertiary-color);
}

/* ========  */

input.start,
input.stop {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1.5px solid;
  border-radius: 8px;
  /* see responsive */
}
input.start {
  border-color: var(--timer_start);
  color: var(--timer_start);
  background-color: white;
}
input.stop {
  background-color: var(--timer_stop);
  color: white;
}
input.start:hover {
  background-color: var(--timer_start);
  color: white;
}
input.stop:hover {
  border-color: var(--timer_stop);
  background-color: white;
  color: var(--timer_stop);
}

/* ======== for forms */

form.txt_form > label {
  display: block;
  margin: 0.8rem 0;
}
form.txt_form span {
  display: inline-block;
  width: 15ch;
  text-align: right;
  margin: 0 2ch 0 0;
}
form.txt_form input[type="submit"] {
  margin: 1rem 0 0 14ch;
  display: block;
}

.new_account {
  margin: 6rem 0 0 18ch;
}

.change_pw {
  margin-top: 2rem;
}
.change_pw label:first-of-type,
.delete_account label {
  color: var(--secondary-color);
}
.delete_account {
  margin: 6rem 0;
}
.delete_account p {
  margin: 0 0 0 18ch;
  font-weight: 300;
  line-height: 1.3rem;
}
.delete_account p:first-of-type {
  margin-top: 2rem;
}
a.cancel_link {
  display: block;
  margin: 3rem 0 0 18.2ch;
}

/* ============= for projects.erb */
ul {
  display: flex;
  flex-wrap: wrap;
  /* see responsive */
}
li {
  margin: 1rem 0;
  display: inline-block;
}
li > div {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: baseline;
  margin: 0 5ch;
}
.project_name {
  /* width: 25ch;
  margin: 0 5ch; */
  margin-bottom: 0.3rem;
}
section {
  line-height: 1.5rem;
  margin: 0.2rem 0;
}

/* ============= responsive */
@media (max-width: 420px) {
  header {
    padding: 0.2rem 1rem;
  }
  ,
  main {
    padding: 0.2rem 0.5rem;
  }

  .hideForMobile {
    display: none;
  }

  ul {
    justify-content: space-around;
  }

  input.start,
  input.stop {
    padding: 1.5rem;
  }
}

@media (min-width: 421px) {
  header {
    padding: 0.2rem 2rem;
  }
  ,
  main {
    padding: 0.2rem 1rem;
  }

  .hideForMobile {
    display: inline-block;
  }

  ul {
    justify-content: flex-start;
  }

  input.start,
  input.stop {
    padding: 0.5rem;
  }
}
